body {
    color: white;
    font-family: "Epilogue", sans-serif;

    p {
        line-height: 20px;
    }
}

/* section header; logo, nav */
header {
    background-color: #292929;

    p {
        font-size: 20px;
        font-weight: bold;
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    color: inherit;
    padding-right: 40px;
    padding-left: 60px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
    padding-right: 12px;
    font-size: 17px;
}

ul li a {
    color: inherit;
}

/* hero section */
.button-hero {
    background-color: white;
    color: #292929;
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    text-align: center;
}

#hero .columnCentered {
    justify-content: left;
}

#hero .container {
    max-width: 1100px;

    span {
        font-weight: bold;
    }

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-weight: bold;
        font-size: 14px;
    }
}

.hero-padding {
    padding: 75px 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

/* general classes */
.container {
    margin: auto;
    max-width: 800px;
}

.flexOne {
    flex: 1;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.card-flex {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.d-flexDeux {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.card-wrapper {
    flex-wrap: wrap;
}

.section-padding {
    padding: 120px 0px;

}

.img-card {
    width: 250px;

}

.cardTemoignage {
    display: flex;
    flex-direction: column;
    padding: 8px 25px;
    width: 250px;
    background-color: rgb(197, 195, 195);
}

.columnCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column-footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 40%;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #292929;
}

.cl-black {
    color: #292929;
}

.content {
    display: flex;
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-bottom: 32px;
}

/* section services */
#services .d-flex {
    gap: 70px;
}

.text-center {
    text-align: center;
}

/* section banniere */
#banniere {
    padding-block: 100px;
    justify-content: space-around;
}

.space {
    justify-content: space-around;
}

/* section temoignages */
#temoignages {
    padding-top: 0;
}

.img_marion {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/* section footer */
#footer {
    p {
        font-size: 17px;
    }

    input {
        width: 250px;
        margin: 5px;
        padding: 10px 20px;
    }

    .icon {
        display: flex;
        gap: 15px;
        font-size: 15px;
    }

    button {
        width: 100px;
        height: 25px;
    }

    .d-flexDeux {
        gap: 100px;
        font-size: 8px;
    }

    .container {
        max-width: 1100px;
    }
}

.flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
}